$color-one: #a3a380;
$color-two: #d6ce93;
$color-three: #efebce;
$color-four: #d8a48f;
$color-five: #bb8588;
$font-to-all: "Akaya Kanadaka", cursive;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-to-all;
}

.header {
  width: 100%;
  height: 10vh;
  background-color: $color-one;
}

.main {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient($color-one, $color-two);
  .box {
    width: 300px;
    padding: 20px;
    background: linear-gradient($color-four, $color-five);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    h1 {
      width: 100%;
      height: 30px;
      text-align: center;
      margin-bottom: 30px;
    }
    h2 {
      width: 100%;
      margin-bottom: 30px;
    }
    div {
      width: 100%;
      form {
        width: 100%;
        text-align: center;
        input[type="text"] {
          width: 90%;
          height: 40px;
          padding: 0 5px;
          border: none;
          background: rgba(255, 255, 255, 0.25);
          border-radius: 5px;
          outline: none;
          margin-bottom: 20px;
        }
        input[type="button"] {
          width: 50%;
          padding: 15px 8px;
          border-radius: 8px;
          outline: none;
          border: none;
          transition: 0.3s;
          font-size: 18px;
          font-family: $font-to-all;
        }
        input[type="button"]:hover {
          background-color: $color-three;
          cursor: pointer;
          box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}

.footer {
  width: 100%;
  height: 10vh;
  background-color: $color-two;
}
